/* first-section starts */
.first-section{
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-left: 90px;
    
}
.left-side{
    margin-top: 80px;
    margin-left: 106px;
    margin-bottom: 111px;
    width: 531px;
    height: 424px;
}
.heading1{  
   width: 531px;
   height: 240px;
}
 .left-heading
   {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}
.p1{
 margin-top: 40px;
    width: 506px;
    height: 78px;
}
.left-para{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.button1{
    margin-top: 40px;
}
.left-button, .ex-button{
    width: 227px;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    background: #DD0000;
    border-radius: 5px;
}
.right-side{

    background-repeat: no-repeat;
    width: 681px;
    height: 613px;
    margin-top: 92px;
    margin-bottom: 0;
    margin-left: 150px;
    padding-left: 60px;
}

/* second section styles
 */

 .left-2{
    width: 312px;
    height: 412px;
    background: #161616;
    border-radius: 10px;
    margin-top: 130px;
      
 }
 .left-button-2, .left-button-3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 252px;
    height: 64px;
    margin: 30px;
    font-size: 20px;
 }
 .left-button-2{

    background-color: rgb(250, 50, 0);
 }



/* section2
 */

.second-section{
    display: flex;
    margin-left: 80px;
    
}


 /* ------
 grid-cart-section
  ----*/
.carts{
    margin-left: 24px;
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.cart{
    width: 312px;
    height: 362px;
    border: 1px solid gray;
    border-radius: 10px;
}
  .cart-top{
    width: 312px;
    height: 175px;
    background: url(assets/Blog\ Image.png);
    border-radius: 10px 10px 0px 0px;
  }
  .transfer{
    width: 100px;
    height: 32px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .cart-body-2{
    width: 272px;
    height: 54px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
 .card-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #161616;
 }
.cart-body-3{
    width: 143px;
    height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgba(22, 22, 22, 0.7);
   
}
.clock{
    margin-left: 8px;
    margin-right: 30px;
}



/*  extra-button options    */
.extra-button{
    
    margin-top: 40px;
    text-align: center;
 }
/* footer section  */


.foot{
    background-color: black;
    height: 500px;
 }
 .foot-head{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: whitesmoke;
    text-align: center;
 }
 hr{
    margin-top: 60px;
    width: 70%;
 }
 .menu{
  margin-left: 200px;
  margin-right: 120px;
  margin-top: 95px;
  width: 1063px;
  height: 60px;
  text-align: center;
  

 }
  .menus{
    margin-left: 20px;
    margin-top: 40px;
  justify-content: center;
  text-decoration: none;
  color: rgb(255, 255, 255) ;
  margin-right: 15px;
  font-size: 24px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
 }

    


/*   --------------------------
          media Queries
       --------------------  */
       /* mobile devices    */
       @media only screen and (max-width: 688px)
       {
        .container-1{
            background-color: #000000;
        }
        .first-section{
            width: 100%;
            height: 635px;
            border-radius: 30px;
            display: inline;
    
        }
        .left-side{
            margin-top: 2px;
            margin-left: 5px;
            margin-bottom: 5px;
            width: 411px;
            height: 731px;
            display: inline;
            text-align: center;

        }
        .right-side{
             width: 688px;
        }
        .heading1{  
            margin-left: 20px;
            width: 350px;
            height: 100px;
        }
        .left-heading
        {
         font-family: 'Poppins', sans-serif;
         font-weight: 400;
         font-size: 30px;
         color: #ffffff;
         
        }
        .p1{ margin-top: 5px;
            margin-left: 20px;
            width: 350px;
            height: 78px;
        }
        .left-para{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #ffffff;
        }
        .button1{
            margin-top: 30px;
        }
        .left-button{
            width: 227px;
            height: 65px;
            padding-left: 10px;
            padding-right: 10px;
            font-family: 'Poppins', sans-serif;
            color: #FFFFFF;
            font-size: 20px;
            background: #DD0000;
            border-radius: 5px;
        }
        .top-img{
            margin-left: -220px;
            margin-top: 0px;
            margin-right: 84px;
            margin-bottom: 0;
            padding-left: 60px;
            width: 50%;
            height: 613px;
        }
        
        .second-section{
            display: inline;
         }
        .left-2{ 
            margin-top: 20px;
            margin-left: 35px;
            background-color: #FFFFFF;
        }
        .left-button-2,.left-button-3{
            margin-top: -20px;
            font-weight: 400;
            border-radius: 1px solid gray;
        }
        .carts {
              margin-top: -160px;
              grid-template-columns: repeat(1, 1fr);
              grid-row-gap: 5px;
              grid-column-gap: 5px;
             }
         
         .cart{
            flex-direction: column;
            margin-left: 10px;
            margin-top: 5px;
         }
         .foot {
            width: 668px;
            background-color: rgb(12, 1, 73);
            height: 700px;
            }
           .headf{
           margin-left: -10px;
           width: 408px;
           height: 60px;
           padding-bottom: 40px;
           }
           hr{
             
             margin-left: 15px;
          }
         .foot-head{
         font-size: 60px;
         font-family: 'Poppins', sans-serif;
         padding-top: 40px;
         color: whitesmoke;
         text-align: center;
      }
        hr{
         margin-top: 60px;
         width: 50%;
       }
        .menu{
         margin-left: -340px;
         text-align: center;
         display: list-item;
       
     
      }
         .menus{
             
         display: block;
         margin-top: 40px;
         text-decoration: none;
         color: rgb(255, 255, 255) ;
         margin-right: 15px;
         font-size: 24px;
         font-weight: 800;
         font-family: 'Poppins', sans-serif;
        }
             }
     
         /* -------------------
                 ipad mood 
               -------------------- */
          @media only screen and (min-width:689px) and (max-width:992px)
          {
             .first-section{
                 width: 750px;
                 height: 700px;
                 background: #020014;
                 border-radius: 30px;
                 display: flex;
                 margin-left: 40px;
                 justify-items: center;
                 
             }
             .left-side{
                 margin-top: 2px;
                 margin-left: 150px;
                 margin-bottom: 5px;
                 width: 200px;
                 height: 731px;
     
             }
             .heading1{  
                 width: 350px;
                 height: 200px;
             }
             .left-heading
             {
              font-family: 'Poppins', sans-serif;
              font-weight: 400;
              font-size: 40px;
              color: #bbbbbb;
              
             }
             .p1{ margin-top: 50px;
                 width: 350px;
                 height: 78px;
             }
             .left-para{
                 font-family: 'Poppins', sans-serif;
                 font-weight: 400;
                 font-size: 16px;
                 color: #bbbbbb;
             }
             .button1{
                 margin-top: 100px;
                 margin-left: 20px;
             }
             .left-button{
                 width: 227px;
                 height: 65px;
                 padding-left: 10px;
                 padding-right: 10px;
                 font-family: 'Poppins', sans-serif;
                 color: #FFFFFF;
                 font-size: 20px;
                 background: #DD0000;
                 border-radius: 5px;
             }
             
             .top-img{
                 margin-left: -30px;
                 margin-top: -5px;
                 margin-right: 80px;
                 margin-bottom: 0;
                 padding-left: 60px;
                 width: 351px;
                 height: 613px;
             }
     
             .second-section{
                 display: inline;
             }
             .left-2{
                 margin-top: 0px;
                 margin-left: 20%;
                 display: flex;
                 background-color: white;
                 margin-bottom: 0;
             }
             .left-button-2, .left-button-3{
                 background-color: #ffffff;
                 font-weight: 400;
             }
             .left-button-2{
                 background-color: orangered;
             }
            
             .carts{
                 margin-top: -280px;
                 display: grid;
                 grid-template-columns: repeat(2, 1fr);
             }
              .extra-button{
                 margin-top: 40px;
                 text-align: center;
              }
              .foot-head{
                 font-size: 60px;
                 font-family: 'Poppins', sans-serif;
                 padding-top: 40px;
                 color: rgb(165, 159, 159);
                 text-align: center;
              }
              .menu{
                 width: 800px;
                 margin-left: 0px;
                 text-align: center;
                 display: list-item;
               
             
              }
                 .menus{
                 margin-top: 40px;
                 text-decoration: none;
                 color: rgb(165, 159, 159) ;
                 margin-right: 15px;
                 font-size: 20px;
                 font-weight: 800;
                 font-family: 'Poppins', sans-serif;
                }
     
              
          }
          /* extra button option */
          @media only screen and (min-width:992px)
     
          {
             .extra-button {
                  display:none
             }
          }